<video id="background-video" autoplay loop muted playsinline>
  <source src="../../assets/Images/HomePage/background.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<mat-toolbar class="top-navbar flex items-center justify-between px-4">
  <!-- Logo -->
  <span class="logo text-lg font-bold">Honkai-StarBucks</span>

  <!-- Menu for pages (next to logo) -->
  <div class="menu-pages flex gap-4">
    <button mat-button *ngFor="let item of menuItemsPages" (click)="onMenuClick(item)" class="flex items-center gap-2">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span class="hidden lg:block">{{ item.label }}</span>
    </button>
  </div>

  <!-- Spacer to push the rest of the menu to the right -->
  <span class="spacer flex-grow"></span>

  <!-- Button Wrapper for other menu items -->
  <div class="button-container flex gap-4">
    <nav class="menu flex gap-4">
      <button mat-button *ngFor="let item of menuItems" (click)="onMenuClick(item)" class="flex items-center gap-2">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span class="hidden lg:block">{{ item.label }}</span>
      </button>
    </nav>
  </div>
</mat-toolbar>


<router-outlet></router-outlet>
