
<mat-toolbar class="top-navbar">
  <!-- Logo -->
  <span class="logo">Honkai-StarBucks</span>
  
  <!-- Menu for pages (next to logo) -->
  <div class="menu-pages">
    <button mat-button *ngFor="let item of menuItemsPages" (click)="onMenuClick(item)">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </button>
  </div>

  <!-- Spacer to push the rest of the menu to the right -->
  <span class="spacer"></span>

  <!-- Button Wrapper for other menu items -->
  <div class="button-container">
    <nav class="menu">
      <button mat-button *ngFor="let item of menuItems" (click)="onMenuClick(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </button>
    </nav>
  </div>
</mat-toolbar>

<img src="../assets/Images/HomePage/Jingliu.png" alt="image">
<img src="../assets/Images/HomePage/JingYuan.jpg" alt="image">
