<div class="terminals-container">
  <div cdkDrag>
    <mat-card class="terminal-card-Services">
      <mat-card-header cdkDragHandle>
        <div class="terminal-header">
          <div class="terminal-buttons">
            <span class="close"></span>
            <span class="minimize"></span>
            <span class="maximize"></span>
          </div>
          <span class="terminal-title">Terminal</span>
        </div>
      </mat-card-header>
      <mat-card-content class="terminal-content">
        <pre class="terminal-text">
          <strong>Our Services</strong>
          <ul class="services-list">
            <li><i class="fas fa-code"></i> <strong>User Data:</strong> User Data and Character Stats fetched by UID with StarRail.js.</li>
            <li><i class="fas fa-mobile-alt"></i> <strong>Tier List:</strong> Trailblazer tier list based on damage, support and sustain.</li>
            <li><i class="fas fa-mobile-alt"></i> <strong>Team Creation:</strong> Team creator based on fetched traillazers.</li>
          </ul>
        </pre>
      </mat-card-content>
    </mat-card>
  </div>

  <div cdkDrag>
    <mat-card class="terminal-card-Services">
      <mat-card-header cdkDragHandle>
        <div class="terminal-header">
          <div class="terminal-buttons">
            <span class="close"></span>
            <span class="minimize"></span>
            <span class="maximize"></span>
          </div>
          <span class="terminal-title">Terminal</span>
        </div>
      </mat-card-header>
      <mat-card-content class="terminal-content">
        <pre class="terminal-text">
          <strong>Workin On</strong>
          <ul class="services-list">
            <li><i class="fas fa-code"></i> <strong>PvP:</strong> Face other players by trying to clear MoC faster.</li>
            <li><i class="fas fa-mobile-alt"></i> <strong>Team Stats:</strong> Get stats of your team to help create the best one possible.</li>
            <li><i class="fas fa-mobile-alt"></i> <strong>Relic/Build Stats:</strong> Evaluate your relics and builds.</li>
            <li><i class="fas fa-mobile-alt"></i> <strong>Guides:</strong> Guides for building every character.</li>
            <li><i class="fas fa-mobile-alt"></i> <strong>News:</strong> All the most recent news of the game.</li>
          </ul>
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>