<!-- Number Input Button Container with Tailwind -->
<div class="number-input-container flex items-center gap-2 w-fit mx-auto relative top-[50px] left-[-15px]">
  <input type="number" class="number-input w-[100px] text-center" placeholder="Enter uid" #uidInput />
  <button class="submit-button" (click)="fetchTrailBlazers(uidInput.value)">Add Trailblazers</button>
</div>

<!-- List of Trailblazers -->
<div class="trailblazers-list mt-4">
  <div *ngFor="let trailBlazer of trailLBlazers.values()" class="trailblazer-item flex items-center gap-2">
    <span>{{ trailBlazer.name }} ({{ trailBlazer._id }})</span>
    <button class="remove-button" (click)="removeTrailBlazer(trailBlazer._id, trailBlazer.name)">Remove</button>
  </div>
</div>