<!-- Parent Container for Number Input and Search Bar -->
<div class="top-container flex items-center justify-between w-full mx-auto">
  <div class="input-search-container flex items-center gap-4" *ngIf="viewMode === 'trailblazers'">
    <!-- Number Input Button Container with Tailwind -->
    <div class="number-input-container flex items-center gap-2">
      <input type="number" class="number-input w-[100px] text-center" placeholder="Enter uid" #uidInput />
      <button class="submit-button" (click)="fetchTrailBlazers(uidInput.value)">Add Trailblazers</button>
    </div>

    <!-- Search Bar -->
    <div class="search-bar-container flex items-center gap-2">
      <input type="text" class="search-bar w-[200px] text-center" placeholder="Search Trailblazer" [(ngModel)]="searchTerm" (input)="filterTrailblazers()" />
    </div>
  </div>

  <div class="input-search-container flex items-center gap-4" *ngIf="viewMode === 'teams'">
    <button class="create-team-button" (click)="toggleModal()">Create Team</button>
  </div>

  <div class="username-filter-container flex items-center gap-4" *ngIf="viewMode === 'trailblazers'">
    <select
      id="usernameFilter"
      class="username-filter w-[200px] text-center"
      [(ngModel)]="selectedUsername"
      (change)="filterTrailblazersByUsername()"
    >
      <option value="">All Users</option>
      <option *ngFor="let username of uniqueUsernames" [value]="username">
        {{ username }}
      </option>
    </select>
  </div>

  <!-- Toggle Button Container -->
  <div class="toggle-button-container">
    <button class="toggle-button" [class.active]="viewMode === 'trailblazers'" (click)="viewMode = 'trailblazers'">Trailblazers</button>
    <button class="toggle-button" [class.active]="viewMode === 'teams'" (click)="viewMode = 'teams'">Teams</button>
  </div>
</div>

<!-- List of Trailblazers -->
<div *ngIf="viewMode === 'trailblazers'" class="trailblazers-list mt-4">
  <div *ngFor="let trailBlazer of filteredTrailBlazers" class="trailblazer-item">
    <!-- Initial Card -->
    <div
      class="initial-card relative"
      (mouseenter)="trailBlazer.showDetails = true; setDetailsPosition($event, trailBlazer)"
      (mouseleave)="trailBlazer.showDetails = false"
    >
      <img [src]="'../assets/Images/Icons/' + trailBlazer.name + '.webp'" alt="Trailblazer Photo" class="character-icon mx-auto mb-2" />
      <span>{{ trailBlazer.name }} ({{ trailBlazer.username }})</span>
      <button class="remove-button" (click)="removeTrailBlazer(trailBlazer._id, trailBlazer.name)"></button>
    </div>

    <!-- Detailed Card -->
    <div
      *ngIf="trailBlazer.showDetails"
      class="detailed-card p-4 border rounded shadow-md absolute bg-white"
      [style.top.px]="trailBlazer.detailsTop"
      [style.left.px]="trailBlazer.detailsLeft"
    >
      <h3>{{ trailBlazer.name }}'s Details</h3>
      <p><strong>Final Stats:</strong></p>
      <ul>
        <li>HP: {{ trailBlazer.finalStats.FinalHP }}</li>
        <li>Attack: {{ trailBlazer.finalStats.FinalAttack }}</li>
        <li>Defence: {{ trailBlazer.finalStats.FinalDefence }}</li>
        <li>Speed: {{ trailBlazer.finalStats.FinalSpeed }}</li>
        <li>Critical Chance: {{ trailBlazer.finalStats.CriticalChanceBase }}</li>
        <li>Critical Damage: {{ trailBlazer.finalStats.CriticalDamageBase }}</li>
        <li>Break Damage Added Ratio: {{ trailBlazer.finalStats.BreakDamageAddedRatioBase }}</li>
        <li>Heal Ratio: {{ trailBlazer.finalStats.HealRatioBase }}</li>
        <li>Status Probability: {{ trailBlazer.finalStats.StatusProbabilityBase }}</li>
        <li>Status Resistance: {{ trailBlazer.finalStats.StatusResistanceBase }}</li>
        <li *ngIf="trailBlazer.finalStats.ThunderAddedRatio !== 0">Thunder Added Ratio: {{ trailBlazer.finalStats.ThunderAddedRatio }}</li>
        <li *ngIf="trailBlazer.finalStats.FireAddedRatio !== 0">Fire Added Ratio: {{ trailBlazer.finalStats.FireAddedRatio }}</li>
        <li *ngIf="trailBlazer.finalStats.IceAddedRatio !== 0">Ice Added Ratio: {{ trailBlazer.finalStats.IceAddedRatio }}</li>
        <li *ngIf="trailBlazer.finalStats.WindAddedRatio !== 0">Wind Added Ratio: {{ trailBlazer.finalStats.WindAddedRatio }}</li>
        <li *ngIf="trailBlazer.finalStats.QuantomAddedRatio !== 0">Quantom Added Ratio: {{ trailBlazer.finalStats.QuantomAddedRatio }}</li>
        <li *ngIf="trailBlazer.finalStats.PhysicalAddedRatio !== 0">Physical Added Ratio: {{ trailBlazer.finalStats.PhysicalAddedRatio }}</li>
        <li *ngIf="trailBlazer.finalStats.ImaginaryAddedRatio !== 0">Imaginary Added Ratio: {{ trailBlazer.finalStats.ImaginaryAddedRatio }}</li>
      </ul>
      <p><strong>Light Cone:</strong> {{ trailBlazer.lightCone.name }} (Level: {{ trailBlazer.lightCone.level }})</p>
      <p><strong>Eidolon:</strong> {{ trailBlazer.eidolon }}</p>
      <p><strong>Traces Level:</strong></p>
      <ul>
        <li>Basic: {{ trailBlazer.tracesLevel.basic }}</li>
        <li>Skill: {{ trailBlazer.tracesLevel.skill }}</li>
        <li>Ultimate: {{ trailBlazer.tracesLevel.ultimate }}</li>
        <li>Talent: {{ trailBlazer.tracesLevel.talent }}</li>
      </ul>
    </div>
  </div>
</div>



<!-- List of Teams -->
<div *ngIf="viewMode === 'teams'" class="teams-list mt-4">
  <div class="teams-container flex flex-wrap gap-4">
    <div *ngFor="let team of teams" class="team-item border p-4 rounded shadow-md">
      <h3>{{ team.name }}</h3>
      <!-- Delete Team Button -->
      <button class="remove-button" (click)="removeTeam(team._id)"> </button>
      <div class="team-trailblazers flex gap-4">
        <div *ngFor="let trailBlazer of team.trailBlazers" class="trailblazer-item">
          <!-- Initial Card -->
          <div class="initial-card relative" (mouseenter)="trailBlazer.showDetails = true" (mouseleave)="trailBlazer.showDetails = false">
            <img [src]="'../assets/Images/Icons/' + trailBlazer.name + '.webp'" alt="Trailblazer Photo" class="character-icon mx-auto mb-2">
            <span>{{ trailBlazer.name }} ({{ trailBlazer.username }})</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Creating a Team -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="toggleModal()">&times;</span>
    <h2>Create Team</h2>
    <input type="text" [(ngModel)]="newTeamName" placeholder="Enter team name" class="team-name-input" />
    <button class="submit-button" (click)="addTeam()">Create Team</button>
    
    <div class="trailblazers-list mt-4">
      <div *ngFor="let trailBlazer of filteredTrailBlazers" class="trailblazer-item">
        <div
          class="initial-card relative"
          [class.selected]="selectedTrailBlazers.includes(trailBlazer)"
          (click)="toggleTrailBlazerSelection(trailBlazer)"
        >
          <img
            [src]="'../assets/Images/Icons/' + trailBlazer.name + '.webp'"
            alt="Trailblazer Photo"
            class="character-icon mx-auto mb-2"
          />
          <span>{{ trailBlazer.name }} ({{ trailBlazer.username }})</span>
        </div>
      </div>
    </div>

    <button class="go-back-button" (click)="toggleModal()">Go Back</button>
  </div>
</div>