<div cdkDrag>
  <mat-card class="terminal-card-Jingliu">
    <mat-card-header cdkDragHandle>
      <div class="terminal-header">
        <div class="terminal-buttons">
          <span class="close"></span>
          <span class="minimize"></span>
          <span class="maximize"></span>
        </div>
        <span class="terminal-title">Terminal</span>
      </div>
    </mat-card-header>
    <mat-card-content class="terminal-content">
      <!-- Image and Text Content -->
      <img src="../assets/Images/HomePage/SilverWolf.jpg" alt="Terminal Image" class="terminal-image">
      <pre class="terminal-text">This project consists of several components for managing and simulating battles in the Honkai-StarBucks universe. It includes back-end servers for handling different functionalities and a front-end client built with Angular.</pre>
    </mat-card-content>
  </mat-card>
</div>

<div cdkDrag>
  <mat-card class="terminal-card-Fastfetch" style="padding: 16px; display: flex; flex-direction: column; max-width: fit-content; max-height: fit-content;">
    <mat-card-header cdkDragHandle>
      <div class="terminal-header" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="terminal-buttons">
          <span class="close"></span>
          <span class="minimize"></span>
          <span class="maximize"></span>
        </div>
        <span class="terminal-title">Terminal</span>
      </div>
    </mat-card-header>
    <mat-card-content class="terminal-content">
      <!-- Fastfetch Information -->
      <div class="fastfetch">
        <pre style="display: flex; align-items: flex-start; flex-wrap: nowrap; white-space: pre; overflow: auto;">
          <span class="ascii-logo">
██╗  ██╗ ██████╗ ███╗   ██╗██╗  ██╗ █████╗ ██╗                            
██║  ██║██╔═══██╗████╗  ██║██║ ██╔╝██╔══██╗██║
███████║██║   ██║██╔██╗ ██║█████╔╝ ███████║██║   
██╔══██║██║   ██║██║╚██╗██║██╔═██╗ ██╔══██║██║
██║  ██║╚██████╔╝██║ ╚████║██║  ██╗██║  ██║██║
╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝  ╚═╝╚═╝      

███████╗████████╗ █████╗ ██████╗ ██████╗ ██╗   ██╗ ██████╗██╗  ██╗███████╗
██╔════╝╚══██╔══╝██╔══██╗██╔══██╗██╔══██╗██║   ██║██╔════╝██║ ██╔╝██╔════╝
███████╗   ██║   ███████║██████╔╝██████╔╝██║   ██║██║     █████╔╝ ███████╗
╚════██║   ██║   ██╔══██║██╔══██╗██╔══██╗██║   ██║██║     ██╔═██╗ ╚════██║
███████║   ██║   ██║  ██║██║  ██║██████╔╝╚██████╔╝╚██████╗██║  ██╗███████║
╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝╚═╝  ╚═╝╚══════╝
        </span>
        OS: Arch Linux x86_64
        Kernel: Linux 6.1.4-arch1-2
        Packages: 1908 (pacman)
        WM: Hyprland (Wayland)
        Terminal: kitty 0.36.4

        Author: Goncalo Pinto
        Studying at: Faculdade de Ciências
        GitHub: https://github.com/GoncaloP0710
        Memory: 5.3 GiB / 15.9 GiB (33%)
        OS Age: 69 days
        Uptime: {{ uptime }}
        </pre>
      </div>
    </mat-card-content>
  </mat-card>
</div>